.outbox{
    border: solid 1px;
    height: 900px;
    background-image: url(bg8.jpg);
    background-repeat: no-repeat;
    background-size: 1900px 850px;
}
 #nav{
    border: solid 1px white;
    height: 50px;
    line-height: 50px;
 }
 #in{
    color: white;
    font-size: 30px;
    text-decoration: none;
    padding-right: 25px;
    font-weight: bold;
}
.out{
    border:solid 1px white ;     
    height: 450px;     
}     
#tagudham{     
    color: beige;
    font-size: 55px;
    text-align: center;
    padding-top: 100px;
    text-shadow: 3px 3px 5px white;
}
#menu{
    border: solid 1px;
    height: 400px;
}